@import '../../../styles/constants.scss';

:local(.button) {
    background: transparent;
    border: 1px solid $blue;
    border-radius: 4px;
    color: $blue;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    min-width: 135px;
    padding: 6px;
    width: fit-content;

    &:focus {
        outline: none;
    }
}

:local(.active) {
    background: $blue;
    color: $white;
}

@media #{$tablet} {
    :local(.button) {
        width: 100%;
    }
}
