// Variables

// Colors
$black: #000000;
$blue: #227dbb;
$gray: #808080;
$green: #2db60e;
$red: #e82200;
$white: #ffffff;

// Media query breakpoints
$tablet: 'only screen and (max-width: 580px)';
$mobile: 'only screen and (max-width: 529px)';
